@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,300,300italic);

body {
  background: #f6dbe9;
  font-family: 'Open Sans', sans-serif;
}

div#container {
  width: 720px;
  height: 300px;
  margin: 30px auto 0 auto;
  padding: 10px 5px 30px 5px;

  background: #f9c4eb;
  border: 1px solid #fb41d2;
  border-radius: 5px;
  box-shadow: -1px 1px 8px 2px #c9c8c8;

  text-align: center;
}

form#match {
  margin-bottom: 20px;
}

form#match input {
  border: 2px solid #f94bec;
  background: #fa9be1;
  font-size: 22px;
  color: #2d2d2d;
  padding: 12px;
  width: 150px;
}

#match-submit {
  font-weight: bold;
  display: inline-block;
  border: 1px solid #1380bd;
  cursor: pointer;
  background: #2ab7d5;
  padding: 8px 185px;
  -webkit-user-select: none;
}

#match-submit:hover {
background: #41ceec;
}

#match-submit:active {
  border: 1px inset;
  background: #259fb9;
}

#result-view {
  padding: 8px 0 8px 0;
  width: 423px;
  font-size: 22px;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: 15px;
  background: #f1ef00;
  border: 1px solid #ff0000;
}

.input-wrap {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-weight: bold;
}
